@import url("https://cdn.jsdelivr.net/npm/uikit@3.2.7/dist/css/uikit.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-font {
  font-family: 'Raleway', sans-serif;
}

#root-component {
  min-height: 100vh;
}

#header .logo {
  height: 50px;
}

#footer .logo {
  height: 80px;
}

#viewing .uk-card-body {
  min-height: 200px;
}

textarea {
  resize: none;
}
